# Data Analytics and Visualization with Python

### Learning Objective - 

- Introduction to Analytics using Python
    - Python Basics for Analytics (Revision)
    - numpy and pandas library
    - Reading data from various sources (excel, csv, database, json)
    - Cleaning and Preparing Data
- Descriptive Statistics
- Visualizing Data
    - Introduction to matplotlib library
    - Anatomy of a figure
    - Creating sub-plots
    - Chart aesthetics
- Visual Data Analytics
    - Univariate Analysis
        - count plots
        - histograms and boxplot
    - Bivariate Analysis
        - scatter plot
        - bar plot
        - line charts
        - pair plots, heatmaps

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

## Python Basics for Analytics

#### Built-in data structure - 
- list  - [], mutable, mixed data, indexed
- tuples - (), immutable, mixed data, indexed
- set  - {}, mutable, no duplicates, unordered, mixed data but only immutable objects
- dict - {}, mutable, key:value, key - no duplicates, immutable object; Value - any type

#### Python Functions

- sorted(), zip(), enumerate(), lambda functions

###### Ex. WAP to print sum of numbers 1 - 10

###### Ex. WAP to sort the given list in DESC order

###### Ex. WAP to display name and age of the employees in ASC order of their ages

In [ ]:
emp = {'Jane': 30, 'Jack': 20, 'Rosie': 25}

### Working on Arrays

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
names = np.array(["Olivia", "Liam", "Emma", "Noah", "Ava", "Sophia", "Jackson", "Isabella", "Lucas", "Mia"])
maths = np.array([93, 60, 68, 53, 63, 30, 46, 63, 66, 53])
english = np.array([75, 69, 78, 66, 53, 26, 65, 62, 63, 70])
science = np.array([96, 57, 55, 52, 52, 31, 96, 58, 52, 70])

#### Array Attributes

###### How many students appreared for the exam?

#### Accessing Array elemenets and Operations on Arrays

###### Ex. Who scored maximum marks in science?

In [ ]:
science.max()

In [ ]:
science == science.max()

In [ ]:
names[science == science.max()]

###### Ex. How many students have passed in maths?

###### Ex. Are there any students who have failed in maths? (True or False)

###### Ex. Have all students cleared their math exams (True or False)

###### Ex. Who failed in maths? passing marks - 35

###### Ex. Calculate percentage of all students and assign grades

###### Assign grades to the students (Failed or pass)

###### Assigning grades as A, B, C, D

###### Ex. Display names of students who have scored above class average.

### Working on Dataframes

#### Reading data from various sources (excel/csv, database, json)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Creating a Datafram from lists/arrays

In [ ]:
names = np.array(["Olivia", "Liam", "Emma", "Noah", "Ava", "Sophia", "Jackson", "Isabella", "Lucas", "Mia"])
maths = np.array([93, 60, 68, 53, 63, 30, 46, 63, 66, 53])
english = np.array([75, 69, 78, 66, 53, 26, 65, 62, 63, 70])
science = np.array([96, 57, 55, 52, 52, 31, 96, 58, 52, 70])

###### Ex. Create new columns as Total Marks, Percentage, Rank and Grade

###### Ex. What is AVG marks scored by students in Maths getting Grade B

### Conneting to database

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine
conn = create_engine("sqlite:///employee.sqlite3")
conn

In [ ]:
mssql://*server_name*/*database_name*?trusted_connection=yes

### Connect to Json Object

### Read data from CSV

Method 1 - Set the current working directory as the file path

Method 2 - Upload the files to working environment using jupyter upload button

#### Reading data from csv file

#### Handling null values

#### Replacing nulls

#### Remove nulls

#### Cleaning and Preparing Data

###### Ex. Find total avg sales (HINT - use mean() in Sales column)

###### Converting date field

###### Ex. Create column for Target Status

###### Ex. Visualise Target status on a bar chart

###### Ex. Visualise product-wise Sales

###### Ex. Display product-wise total sales across state Manipur in DESC Order. Find the product generating maximum sales.